*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 5rem;
    color: black;
    text-decoration: none;
    background-color: rgb(94, 150, 94)
}

  .NavBar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 5rem;
      color: black;
      text-decoration: none;
}
  
    .NavBar:hover {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 5rem;
      
      text-decoration: none;
    }
   
    
    .NavBar-link {
      margin: 30;
      color: black;
      text-decoration: none;
      
    }
    
    .NavBar-welcome {
      color: black;
      
    }
    .navPages:hover{
      color: rgb(95, 14, 118);
      text-shadow: 1px 1px 1px rgb(114, 86, 15);
      box-shadow: 6px 5px 24px #6821cb;
    }
  
    .NavBar-link:hover{
      color: goldenrod;
      text-shadow: 1px 1px 1px rgb(114, 86, 15);
      box-shadow: 6px 5px 24px #cb9521;
    }
  
    .title {
      text-decoration: none;
      font-weight: 900;
      font-size: 70px;
      text-align: center;
      color: black;
    }
  
    .title:hover {
      text-decoration: none;
      color: goldenrod;
      font-weight: 900;
      font-size: 70px;
      text-align: center;
      text-shadow: 1px 1px 1px goldenrod;  
      box-shadow: 6px 5px 24px ##cb9521;
    }
  
   .navPages {
     text-decoration: none;
     color: black;
  
   }
  
  
  .mainPageLinks {
    color: white;
    text-decoration: none;  
    text-shadow: 1px 1px 1px rgb(52, 50, 47);  
    text-transform: uppercase;
    
  }
  
  .mainPageLinks:hover {
    color: goldenrod;
    text-decoration: none;
    text-shadow: 1px 1px 1px rgb(52, 50, 47);  
    text-emphasis: bold;
    box-shadow: 6px 5px 24px #d3ab0c;
    text-transform: uppercase;
  }
  .NavContainer {
    display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      height: 5rem;
      color: black;
      text-decoration: none;
  }
  .mainPageLinksSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: -webkit-linear-gradient(top, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); 
  }