.layout {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: whitesmoke;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-left: 24rem;
  }